{% extends "layout.html" %}

{% from "form.html" import form_field, form_field_errors %}

{% block title %}Login{% endblock %}

{% block content %}

<h1>Login</h1>

<form action="login" method="post" class="form-inline">
	{{ login_form.username(placeholder='Username') }}
	{{ form_field_errors(login_form.username) }}
	{{ login_form.password(placeholder='Password') }}
	{{ form_field_errors(login_form.password) }}
	{{ login_form.yubikey(placeholder='YubiKey OTP') }}
	<input type="submit" value="Login" class="btn btn-primary"/>
</form>

{% endblock %}
