{% extends "logged_in.html" %}

{% block title %}Status{% endblock %}

{% block content %}
{{ super() }}

<h1>Status</h1>
<p>You are logged as {{ user.name }}!</p>
<h2>YubiKeys</h2>
<ul>
	{% for yubikey in user.yubikeys %}
	<li>{{ yubikey }}</li>
	{% endfor %}
</ul>

<form action="assign_yubikey" method="post" class="form-inline">
	<label for="yubikey">Assign new YubiKey to account</label><br />
	<input id="yubikey" type="text" name="yubikey" class="span4" placeholder="Enter OTP from new YubiKey" />
	<input type="submit" class="btn" value="Assign" />
</form>

{% endblock %}
